
body {
    background: #4D7EA7; 
    color: rgba(247, 248, 242, .80);
    font-family: 'Kumbh Sans', sans-serif;
    
 }
 
 .header {
    background-color: rgba(247, 248, 242, .80);
    color: #4D7EA7;
    font-size:52pt;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 20px;
    position: fixed;
    width: 100%;
   
 }

 .top {
     text-align: center;
     color: #F7F8F2;
     width: 950px;
     margin: 0 auto;
     padding: 220px;
     font-size: 52pt;
 }

 h2 {
    color: #F7F8F2;
 }

 div {
    margin: 0 auto;
    font-size: 20px;
    width: 810px;
    height: 218px;
    padding-bottom: 50px;
    position: relative;
    top: -90px;
 } 

 img {
     float: left;
     margin-right: 50px;
     height: 218px;
     width: 218px;
 }
